a:hover {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}
.pacifico {
  font-family: "Pacifico", cursive;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.text-small {
  font-size: 1.2em;
}

.left-wrapper,
.right-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.banner-wrapper {
  position: fixed;
  width: 20%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #7e0406;
}

.banner-wrapper img {
  margin-top: 8em;
}

.banner-wrapper .title {
  font-size: 0.9em;
  letter-spacing: 3.5px;
}
.banner-wrapper span {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}
.banner-wrapper .contacto {
  font-size: 0.8em;
  font-weight: 300;
}

.second-wrapper {
  padding-left: 50px;
  padding-top: 40px;
}

.right-tab .nav-tabs {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  border-bottom: 0;
  padding: 20px 40px 0 40px;
  z-index: 99;
}

.right-tab .nav-tabs > li > a {
  font-size: 1em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.28);
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.right-tab .nav-tabs > li.active > a,
.right-tab .nav-tabs > li.active > a:hover,
.right-tab .nav-tabs > li.active > a:focus,
.right-tab .nav-tabs > li > a:hover,
.right-tab .nav-tabs > li > a:focus {
  background: transparent;
  color: #000000;
  border-color: transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}
.right-tab .tab-content {
  margin-top: 45px;
}

.right-tab .tab-content .tab-pane {
  margin-bottom: 30px;
}
.nav {
  flex-wrap: inherit;
}

/* iconos redes sociales */
ul.social-buttons {
  text-align: center;
  margin-top: 30px;
}

ul.social-buttons li {
  display: inline-block;
}

ul.social-buttons li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: -40px;
}

ul.social-buttons li a.brandico-link {
  background-color: #0077b5;
}

ul.social-buttons li a.brandico-github {
  background-color: #333;
}

ul.social-buttons li a.brandico-cv {
  background-color: #f57d00;
}

ul#anima li a {
  transition: transform 0.2s linear;
}

ul#anima li:hover a {
  transform: translateY(-10px);
}

/* linea del tiempo */
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #7e0406;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #7e0406;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon i {
  position: relative;
  top: 12px;
  left: 15px;
  color: #fff;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px 20px 2px 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 7px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23222222' fill-opacity='0.09' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(208, 208, 208, 0.34);
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid rgba(208, 208, 208, 0.34);
}

/* estilos slider */
.meta__bottom {
  top: 60%;
  left: 12%;
}

.sh__meta a {
  color: #000;
}

.sh__meta a:hover {
  color: #263238;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-icon i {
    left: 0;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid rgba(255, 233, 66, 0.64);
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

@media (max-width: 900px) {
  .banner-wrapper {
    position: relative;
    width: 100%;
    height: 370px;
    padding: 15px;
  }

  .banner-wrapper h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .banner-wrapper h2 span {
    font-size: 16px;
  }
  .banner-wrapper img {
    margin-top: 1em;
  }
  .banner-wrapper .contacto {
    display: inline-block;
  }

  .second-wrapper {
    padding: 20px;
    text-align: center;
  }

  .right-tab .nav-tabs {
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
  }

  .right-tab .tab-content {
    margin-top: 20px;
  }

  .cart {
    padding: 15px;
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
}

/* media query for Mobile */
@media (max-width: 480px) {
  .banner-wrapper img {
    margin-top: 0.5em;
    width: 80px;
  }
  .banner-wrapper .contacto {
    display: block;
  }
  .right-tab .nav-tabs > li > a {
    font-size: 16px;
    margin-right: 0;
    padding: 2px 0px;
  }

  .right-tab .nav-tabs > li {
    width: 100%;
  }

  .cart p {
    font-size: 16px;
    margin: 0;
  }

  .cart p .divider {
    border-right: 0px;
    padding-left: 0;
    margin-right: 0;
    display: block;
  }
}

/* cambiando estilo barra de desplazamiento */
body::-webkit-scrollbar {
  width: 5px;
  background-color: hsl(0, 0%, 100%);
}
body::-webkit-scrollbar-track {
  background-color: rgba(38, 50, 56, 0.19);
}
body::-webkit-scrollbar-thumb {
  background-color: #263238;
  border-radius: 10px;
}

/* estilos detalle de proyecto */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}

.photo:hover {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}

.blog-card .description {
  padding: 0.8em;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.5rem;
}
.blog-card .description h2 {
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description ul {
  font-size: 0.9em;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #7e0406;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #7e0406;
  width: 90px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
  }
  .blog-card .meta {
    flex-basis: 35%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 65%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/* Estilos acerca de  */
.overlay-card {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23222222' fill-opacity='0.09' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  height: 230px;
  padding-top: 25px;
}

.img-rounded {
  border-style: solid;
  border-color: #222;
  border-width: 3px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.panel.panel-default {
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.panel-body {
  padding: 20px 10px;
  border-top: 1px solid #ebebeb;
}
