.pacifico {
  font-family: "Pacifico", cursive;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.left-wrapper,
.right-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.banner-wrapper {
  position: fixed;
  width: 20%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #7e0406;
}

.banner-wrapper img {
  margin-top: 9em;
}

.banner-wrapper .title {
  font-size: 1.05em;
  letter-spacing: 3.5px;
}
.banner-wrapper span {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}
.banner-wrapper .contacto {
  font-size: 0.9em;
}

.second-wrapper {
  padding: 20px;
}

.right-tab .nav-tabs {
  position: fixed;
  top: 0;
  left: 41.66666667%;
  background: #fff;
  width: 58.33333333%;
  border-bottom: 0;
  padding: 20px 40px;
  margin-bottom: 30px;
  z-index: 99;
}

.right-tab .nav-tabs > li > a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.28);
  margin-right: 30px;
  padding: 5px 0px;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.right-tab .nav-tabs > li.active > a,
.right-tab .nav-tabs > li.active > a:hover,
.right-tab .nav-tabs > li.active > a:focus,
.right-tab .nav-tabs > li > a:hover,
.right-tab .nav-tabs > li > a:focus {
  background: transparent;
  color: #000000;
  border-color: transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}
.right-tab .tab-content {
  margin-top: 45px;
}

.right-tab .tab-content .tab-pane {
  margin-bottom: 30px;
}
.nav {
  flex-wrap: inherit;
}

/* iconos redes sociales */
ul.social-buttons {
  text-align: center;
  margin-top: 30px;
}

ul.social-buttons li {
  display: inline-block;
}

ul.social-buttons li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: -40px;
}

ul.social-buttons li a.brandico-link {
  background-color: #0077b5;
}

ul.social-buttons li a.brandico-github {
  background-color: #333;
}

ul#anima li a {
  transition: transform 0.2s linear;
}

ul#anima li:hover a {
  transform: translateY(-10px);
}

@media (max-width: 900px) {
  .banner-wrapper {
    position: relative;
    width: 100%;
    height: 370px;
    padding: 15px;
  }

  .banner-wrapper h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .banner-wrapper h2 span {
    font-size: 16px;
  }
  .banner-wrapper img {
    margin-top: 1em;
  }
  .banner-wrapper .contacto {
    display: inline-block;
  }

  .second-wrapper {
    padding: 20px;
    text-align: center;
  }

  .right-tab .nav-tabs {
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
  }

  .right-tab .tab-content {
    margin-top: 20px;
  }

  .cart {
    padding: 15px;
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
}

/* media query for Mobile */
@media (max-width: 480px) {
  .banner-wrapper img {
    margin-top: 0.5em;
    width: 80px;
  }
  .banner-wrapper .contacto {
    display: block;
  }
  .right-tab .nav-tabs > li > a {
    font-size: 16px;
    margin-right: 0;
    padding: 2px 0px;
  }

  .right-tab .nav-tabs > li {
    width: 100%;
  }

  .cart p {
    font-size: 16px;
    margin: 0;
  }

  .cart p .divider {
    border-right: 0px;
    padding-left: 0;
    margin-right: 0;
    display: block;
  }
}
